<div class="tittle mat-elevation-z1">
  <h1 align="center">Truth Table Generator</h1>
</div>
<div
  class="display-info-container"
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="2rem"
>
  <div
    class="truth-table-generator mat-elevation-z1"
    fxLayoutAlign="center center"
    fxFlexOrder.lt-md="2"
  >
    <div
      class="display"
      fxLayout="column"
      fxLayoutAlign="center"
      fxLayoutGap="2rem"
    >
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        [style.fontSize.px]="20"
      >
        <mat-label
          ><span style="font-weight: 700">ENTER AN EXPRESSION</span></mat-label
        >
        <textarea
          matInput
          [formControl]="expressionInput"
          cdkTextareaAutosize
          #autosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="10"
        ></textarea>
        <mat-icon
          matSuffix
          class="material-symbols-outlined"
          style="font-size: 3.2rem; cursor: pointer"
          (click)="openDialog()"
          id="info-icon"
          >info</mat-icon
        >
        <mat-hint
          ><span style="font-weight: 700">Example: </span>{{ currentExample }}
        </mat-hint>
        <mat-error *ngIf="expressionInput.hasError('pattern')">
          Please enter a valid character
        </mat-error>
        <mat-error *ngIf="expressionInput.hasError('syntaxError')">
          Please enter a valid expression
        </mat-error>
      </mat-form-field>

      <div
        fxLayoutAlign="center"
        fxLayoutGap="2rem"
        fxLayoutGap.lt-sm="1rem"
        style="color: rgba(0, 0, 0, 0.6)"
        [formGroup]="radioButtons"
        fxLayout.lt-sm="row wrap"
      >
        <div fxLayoutGap="1rem">
          <mat-label class="mat-body-strong">FORMAT:</mat-label>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="format"
            fxLayoutGap="1rem"
            color="primary"
          >
            <mat-radio-button value="1">1/0</mat-radio-button>
            <mat-radio-button value="2">T/F</mat-radio-button>
            <mat-radio-button value="3">True/False</mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxLayoutGap="1rem">
          <mat-label class="mat-body-strong">ORDER:</mat-label>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="order"
            fxLayoutGap="1rem"
          >
            <mat-radio-button value="asc">asc</mat-radio-button>
            <mat-radio-button value="desc">desc</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <app-keyboard></app-keyboard>
    </div>
  </div>
  <app-info-table class="info" fxFlexOrder.lt-md="1"></app-info-table>
</div>
<div
  class="truth-tables"
  fxLayout="row wrap"
  fxLayoutAlign.lt-sm="center"
  fxLayoutGap="2rem"
  fxLayoutGap.lt-sm="0"
>
  <div #truthTable></div>
</div>
