:host {
  /* padding: 2rem; */
  .tittle {
    width: 100vw;
    padding: 2rem 0rem;
    background-color: #d2b897;
    h1 {
      margin: 0;
      font-size: 3rem;
      color: var(--color-primary);
    }
  }
  .display-info-container {
    width: 100%;
    margin-top: 2rem;
    .truth-table-generator {
      padding: 2rem;
      border-radius: 1rem;
      background-color: white;
    }
  }
  .truth-tables {
      width: 100%;
      padding: 2rem;
  }
}
/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgba(0, 0, 0, 0) !important;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: rgba(0, 0, 0, 0) !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6);
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6);
}
 */
#info-icon {
  display: none;
}
 @media screen and (max-width: 959px) {
  .info {
    display: none;
  }
  #info-icon {
    display: block;
  }
 }