<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <div style="height: 100%;" fxLayout="column" fxLayoutAlign="space-between">
      <mat-action-list>
        <h3 mat-subheader>Truth Table Generator</h3>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/truth-table-generator/boolean-algebra">
          <mat-icon mat-list-icon>keyboard</mat-icon>
          <h4 mat-line>Boolean Algebra</h4>
          <p mat-line>A + B</p>
        </mat-list-item>
        <mat-list-item routerLink="/truth-table-generator/mathematical-logic">
          <mat-icon mat-list-icon>keyboard</mat-icon>
          <h4 mat-line>Mathematical Logic</h4>
          <p mat-line>a ˅ b</p>
        </mat-list-item>
        <mat-list-item routerLink="/truth-table-generator/set">
          <mat-icon mat-list-icon>keyboard</mat-icon>
          <h4 mat-line>Set</h4>
          <p mat-line>A ⋃ B</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/home">
          <mat-icon mat-list-icon>home</mat-icon>
          <h4 mat-line>HOME</h4>
          <p mat-line>Return to home page</p>
        </mat-list-item>
      </mat-action-list>
      <div>
        <mat-divider></mat-divider>
        <p>
          Developed by Fausto Gregorio <br />
          fausto.g03@gmail.com
        </p>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div
      id="container-right"
      fxFlex="100%"
      fxLayout="column"
      fxLayoutAlign="start"
      fxLayoutGap="20px"
    >
      <div style="width: 100%;" fxLayoutAlign="center">
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          [style.fontSize.px]="20"
          fxFlex="80%"
        >
          <mat-label>EXPRESSION</mat-label>
          <textarea
            matInput
            [formControl]="expressionInput"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"
            autofocus
          ></textarea>
          <mat-hint>Example: {{ currentExample }} </mat-hint>
          <mat-error *ngIf="expressionInput.hasError('pattern')">
            Please enter a valid character
          </mat-error>
          <mat-error *ngIf="expressionInput.hasError('syntaxError')">
            Please enter a valid expression
          </mat-error>
        </mat-form-field>
      </div>
      <div style="width: 100%;" fxLayoutAlign="center">
        <!-- <router-outlet></router-outlet> -->
        <app-keyboard></app-keyboard>
      </div>
      <div style="width: 100%;" fxLayout="row wrap" fxLayoutAlign="center">
        <div #truthTable></div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
