<div
  class="container"
  fxLayout="row wrap"
  fxLayoutAlign="center"
  fxLayoutGap="2rem"
>
  <div
    class="truth-table-generator mat-elevation-z1"
    fxLayoutAlign="center center"
  >
    <div
      class="display"
      fxLayout="column"
      fxLayoutAlign="start"
      fxLayoutGap="2rem"
    >
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        [style.fontSize.px]="20"
      >
        <mat-label>TRUTH TABLE GENERATOR: ENTER AN EXPRESSION</mat-label>
        <textarea
          matInput
          [formControl]="expressionInput"
          cdkTextareaAutosize
          #autosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="10"
          autofocus
        ></textarea>
        <mat-hint>Example: {{ currentExample }} </mat-hint>
        <mat-error *ngIf="expressionInput.hasError('pattern')">
          Please enter a valid character
        </mat-error>
        <mat-error *ngIf="expressionInput.hasError('syntaxError')">
          Please enter a valid expression
        </mat-error>
      </mat-form-field>

      <div
        fxLayoutAlign="center"
        fxLayoutGap="2rem"
        fxLayoutGap.lt-sm="1rem"
        style="color: rgba(0, 0, 0, 0.6)"
        [formGroup]="radioButtons"
        fxLayout.lt-sm="row wrap"
      >
        <div fxLayoutGap="1rem">
          <mat-label><span class="mat-body-strong">FORMAT:</span> </mat-label>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="format"
            fxLayoutGap="1rem"
            color="primary"
          >
            <mat-radio-button value="1">1/0</mat-radio-button>
            <mat-radio-button value="2">T/F</mat-radio-button>
            <mat-radio-button value="3">True/False</mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxLayoutGap="1rem">
          <mat-label>ORDER: </mat-label>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="order"
            fxLayoutGap="1rem"
          >
            <mat-radio-button value="asc">asc</mat-radio-button>
            <mat-radio-button value="desc">desc</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <app-keyboard></app-keyboard>
    </div>
  </div>
  <app-info-table></app-info-table>
</div>
<div
  class="truth-table"
  fxLayout="row wrap"
  fxLayoutAlign="start"
>
  <div #truthTable></div>
</div>
