:host {
    background-color: var(--color-primary);
    padding: 5rem;
    color: whitesmoke;
    p {
        font-size: 2rem;
        text-align: center;
        margin: 0;
    }
}
.developer {
    color: var(--color-accent);
    font-weight: 700;
}