<div id="container" fxLayout="row" fxLayoutAlign="center center">
    <div class="triangle-container" fxLayoutAlign="center center" fxLayoutGap="-120px">
        <div class="triangle animated fadeInLeft slow" fxLayoutAlign="center center">
            
            <div class="triangle-top-right"></div>
            <div class="triangle-top-text">
                <span><a routerLink="/truth-table-generator/boolean-algebra">A</a></span>
            </div>
            
        </div>
        <div class="triangle animated fadeInDown slow" fxLayoutAlign="center center">
            <div class="triangle-bottom"></div>
    
            <div class="triangle-bottom-text">
                <span><a routerLink="/truth-table-generator/mathematical-logic">A</a></span>
            </div>
        </div>
        <div class="triangle animated fadeInUp slow" fxLayoutAlign="center center">
            <div class="triangle-top-left" ></div>
            <div class="triangle-top-text">
                <span><a routerLink="/truth-table-generator/set">A</a></span>
            </div>
        </div>
    </div>
    
</div>

