<div class="truth-table mat-elevation-z1">
  <div
    class="animated fadeInLeft slow"
    [ngStyle]="{ width: truthTableWidth }"
    fxLayout="column"
    fxLayoutGap=".5rem"
  >
    <div style="max-width: calc(100vw - 10rem)">
      <p style="margin: 0" class="mat-body-strong">
        <b style="color: #9b6b3c">></b>

        {{ parsedExpression.expression }}
      </p>
    </div>
    <p class="mat-body">
      <b style="color: #9b6b3c">></b>
      {{ parsedExpression.variables.variables.length }}
      {{ parsedExpression.variables.variables.length > 1 ? "Inputs" : "Input" }}
    </p>
    <p class="mat-body">
      <b style="color: #9b6b3c">></b>
      {{
        parsedExpression.expressions.length > 0
          ? parsedExpression.expressions.length
          : 0
      }}
      {{
        parsedExpression.expressions.length > 1 ||
        parsedExpression.expressions.length === 0
          ? "Outputs"
          : "Output"
      }}
    </p>
    <p class="mat-body">
      <b style="color: #9b6b3c">></b>
      {{ getTotalPossibleStates() + " Possible States" }}
    </p>
  </div>
  <div
    class="container animated fadeInLeft"
    [ngStyle]="{ height: truthTableHeight }"
  >
    <cdk-virtual-scroll-viewport #scrollViewport itemSize="30">
      <table #tableContainer>
        <thead>
          <tr>
            <th
              *ngFor="
                let variable of parsedExpression.variables.variables.sort()
              "
              [style.top]="inverseOfTranslation"
            >
              {{ variable }}
            </th>
            <th
              *ngFor="let expression of parsedExpression.expressions"
              [style.top]="inverseOfTranslation"
            >
              <span >{{
                expression.firstPart
              }}</span>
              <span style="color: var(--color-complementary)">
                {{ expression.operator }}
              </span>
              <span style="color: var(--color-accent)">{{ expression.secondPart }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="radioButtons.format === '1'">
            <tr *cdkVirtualFor="let row of rows">
              <td style="text-align: center" *ngFor="let value of row">
                {{ value }}
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="radioButtons.format === '2'">
            <tr *cdkVirtualFor="let row of rows">
              <td style="text-align: center" *ngFor="let value of row">
                {{ value == "0" ? "F" : "T" }}
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="radioButtons.format === '3'">
            <tr *cdkVirtualFor="let row of rows">
              <td style="text-align: center" *ngFor="let value of row">
                {{ value == "0" ? "False" : "True" }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
