.truth-table {
  max-width: calc(100vw - 10rem); // se restan los paddings
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: white;
  .animated {
    max-width: calc(100vw - 10rem);
  }
  .container {
    width: 100%;
    max-width: calc(100vw - 4rem);
    overflow: auto;
    cdk-virtual-scroll-viewport {
      background-color: red;
      height: 100%;
      width: 100%;
      background-color: transparent;
      overflow: auto;
      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        color: #000000;
        background-color: white;
        overflow-anchor: auto;
        thead tr th {
          height: 30px;
          border-bottom: 1px solid #ddd;
          padding: 1rem 2rem;
          position: sticky;
          overflow: auto;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #d9d9d9;
          background-color: var(--color-primary);
        }
        tbody tr td {
          height: 20px;
          border-bottom: 1px solid #d0d0d0;
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          padding: 1rem 2rem;
          color: #666666;
        }
        tr:nth-child(even) {
          background-color: #f1f1f1;
        }
      }
    }
  }
}
