<div class="animated fadeInUp slow" style="padding-top: 20px;">
  <p style="font-size: 18px;">{{ parsedExpression.expression }}</p>
  <p style="font-size: 18px;">
    {{ parsedExpression.variables.variables.length }}
    {{
      parsedExpression.variables.variables.length > 1 ? "Variables" : "Variable"
    }}
  </p>
  <p style="font-size: 18px;">
    {{ parsedExpression.expressions.length > 0 ? parsedExpression.expressions.length - 1 : 0 }}
    {{
      parsedExpression.expressions.length > 2 ||
      parsedExpression.expressions.length - 1 === 0 ||
      parsedExpression.expressions.length === 0
        ? "Sub-Expressions"
        : "Sub-Expression"
    }}
  </p>
</div>

<div
  class="container animated slideInUp slow"
  [ngStyle]="{ height: truthTableHeight }"
>
  <cdk-virtual-scroll-viewport #scrollViewport itemSize="30">
    <table>
      <thead>
        <tr>
          <th
            *ngFor="let variable of parsedExpression.variables.variables.sort()"
            [style.top]="inverseOfTranslation"
          >
            {{ variable }}
          </th>
          <th
            *ngFor="let expression of parsedExpression.expressions"
            [style.top]="inverseOfTranslation"
          >
            <span
              *ngIf="currentComponent === 'booleanAlgebra'"
              style="color: #BF996B;"
              >{{ expression.firstPart }}</span
            >
            <span
              *ngIf="currentComponent === 'mathematicalLogic'"
              style="color: #A68192;"
              >{{ expression.firstPart }}</span
            >
            <span *ngIf="currentComponent === 'set'" style="color: #768C46;">{{
              expression.firstPart
            }}</span>
            <span>&#8194;{{ expression.operator }}&#8194;</span>
            <span style="color: #595959;">{{ expression.secondPart }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *cdkVirtualFor="let row of rows">
          <td style="text-align: center" *ngFor="let value of row">
            {{ value }}
          </td>
          <!-- <td style="text-align: center">{{row[0]}}</td>
          <td style="text-align: center">{{row[1]}}</td>
          <td style="text-align: center">{{row[2]}}</td> -->
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
