.variable-size {
  font-size: 20px;
  color: black;
}

.operator-size {
  font-size: 20px;
}

.parentheses-size {
  font-size: 20px;
}

button {
  width: 70px;
  height: 70px;
}
.mat-fab.mat-primary{
  background-color: #f2f2f2;
}
.mat-fab.mat-accent{
  background-color: #262223;
}
.mat-fab.mat-warn{
  background-color: #768C46;
}


