
.variable-size {
  font-size: 2rem;
  color: #262223;
}

.operator-size {
  font-size: 2rem;
  color: whitesmoke;
}

.parentheses-size {
  font-size: 2rem;
  color: whitesmoke;
}

/* button {
  width: 55px;
  height: 55px;
} */
.mat-icon-button {
  vertical-align: bottom;
}
.mat-fab.mat-primary {
  background-color: #f5f5f5;
}
.mat-fab.mat-accent {
  background-color: var(--color-primary);
}
.mat-fab.mat-warn {
  background-color: var(--color-accent);
  color: black;
}
span{
  display: grid;
}