<div
  id="container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <div fxLayoutGap="10px">
    
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[0])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[0] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[1])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[1] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[2])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[2] }}</span>
    </button>
    <button
    fxHide.lt-sm="true"
    (click)="setCharacter(alphabet[3])"
    mat-fab
    color="primary"
    matRipple
    [matRippleCentered]="centered"
    [matRippleRadius]="radius"
    [matRippleColor]="color"
  >
    <span class="variable-size">{{ alphabet[3] }}</span>
  </button>
  <button
    fxHide.lt-sm="true"
    (click)="setCharacter(alphabet[4])"
    mat-fab
    color="primary"
    matRipple
    [matRippleCentered]="centered"
    [matRippleRadius]="radius"
    [matRippleColor]="color"
  >
    <span class="variable-size">{{ alphabet[4] }}</span>
  </button>
    <button
      (click)="setCharacter('refresh')"
      mat-fab
      color="warn"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="actionColor"
    >
      <mat-icon>
        <span class="material-symbols-outlined">mop</span>
      </mat-icon>
    </button>

    <button
      fxHide.lt-sm="true"
      (click)="setCharacter('backspace')"
      mat-fab
      color="warn"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="actionColor"
    >
      <mat-icon class="material-symbols-outlined">keyboard_backspace</mat-icon>
    </button>
  </div>

  <!-- row 2-->

  <div fxLayoutGap="10px">
    
    
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[5])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[5] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[6])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[6] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[7])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[7] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[8])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[8] }}</span>
    </button>
    <button
      (click)="setCharacter('→')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="operator-size">→</span>
    </button>
    <button
      (click)="setCharacter('↔')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="operator-size">↔</span>
    </button>
    <button
      (click)="setCharacter('´')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="operator-size">´</span>
    </button>
  </div>

  <!-- row 3-->

  <div fxLayoutGap="10px">
    
    
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[9])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[9] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[10])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[10] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[11])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[11] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[12])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[12] }}</span>
    </button>
    <button
      (click)="setCharacter('⋃')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="operator-size">⋃</span>
    </button>
    <button
      (click)="setCharacter('⋂')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="operator-size">⋂</span>
    </button>
    <button
      (click)="setCharacter('+')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="operator-size">+</span>
    </button>
  </div>
  <!-- row 4-->

  <div fxLayoutGap="10px">
    
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[13])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[13] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[14])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[14] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[15])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[15] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[16])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[16] }}</span>
    </button>
    
    <button
      (click)="setCharacter('˅')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="operator-size">˅</span>
    </button>
    <button
      (click)="setCharacter('˄')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="operator-size">˄</span>
    </button>
    <button
      (click)="setCharacter('-')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="operator-size">-</span>
    </button>
  </div>
  <!-- row 5-->

  <div fxLayoutGap="10px">
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[17])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[17] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[18])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[18] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[19])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[19] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[20])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[20] }}</span>
    </button>
    
    <button
      (click)="setCharacter('(')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="parentheses-size">(</span>
    </button>
    <button
      (click)="setCharacter(')')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="parentheses-size">)</span>
    </button>
    <button
      (click)="setCharacter('⊕')"
      mat-fab
      color="accent"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="operatorColor"
    >
      <span class="operator-size" style="display: grid">⊕</span>
    </button>
  </div>
  <!-- row 6-->

  <div fxLayoutGap="10px">
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[21])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[21] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[22])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[22] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[23])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[23] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[24])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[24] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="setCharacter(alphabet[25])"
      mat-fab
      color="primary"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
    >
      <span class="variable-size">{{ alphabet[25] }}</span>
    </button>
    <button
      fxHide.lt-sm="true"
      (click)="capslock(alphabet[0])"
      mat-fab
      color="warn"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="actionColor"
    >
      <mat-icon class="material-symbols-outlined">keyboard_capslock</mat-icon>
    </button>

    <button
      (click)="setCharacter('solve')"
      mat-fab
      color="warn"
      matRipple
      [matRippleCentered]="centered"
      [matRippleRadius]="radius"
      [matRippleColor]="actionColor"
    >
      <mat-icon class="material-symbols-outlined">drag_handle</mat-icon>
    </button>
  </div>
</div>
