
.variable-size {
  font-size: 18px;
  color: black;
}

.operator-size {
  font-size: 18px;
}

.parentheses-size {
  font-size: 18px;
}

button {
  width: 55px;
  height: 55px;
}
.mat-fab.mat-primary{
  background-color: #f2f2f2;
}
.mat-fab.mat-accent{
  background-color: #262223;
}
.mat-fab.mat-warn{
  background-color: #BF996B;
}


