#container {
  /* border: 1px solid black;
  padding: 30px;
  border-radius: 10px; */
}
.variable-size {
  font-size: 18px;
  color: #262223;
}

.operator-size {
  font-size: 18px;
  color: whitesmoke;
}

.parentheses-size {
  font-size: 18px;
  color: whitesmoke;
}

/* button {
  width: 55px;
  height: 55px;
} */
.mat-icon-button {
  vertical-align: bottom;
}
.mat-fab.mat-primary {
  background-color: #f2f2f2;
}
.mat-fab.mat-accent {
  background-color: #262223;
}
.mat-fab.mat-warn {
  background-color: #bf996b;
}
span{
  display: grid;
}