@use "@angular/material" as mat;

@include mat.core();

$accent: (
  50: #f7f3ed,
  100: #ece0d3,
  200: #dfccb5,
  300: #d2b897,
  400: #c9a881,
  500: #bf996b,
  600: #b99163,
  700: #b18658,
  800: #a97c4e,
  900: #9b6b3c,
  A100: #fff5eb,
  A200: #ffdab8,
  A400: #ffbf85,
  A700: #ffb26c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$primary: (
  50: #e5e4e5,
  100: #bebdbd,
  200: #939191,
  300: #676465,
  400: #474344,
  500: #262223,
  600: #221e1f,
  700: #1c191a,
  800: #171415,
  900: #0d0c0c,
  A100: #ff5454,
  A200: #ff2121,
  A400: #ed0000,
  A700: #d40000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$truth-table-primary: mat.define-palette($primary, 600);
$truth-table-accent: mat.define-palette($accent, 400);

// The warn palette is optional (defaults to red).
$truth-table-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$truth-table-theme: mat.define-light-theme(
  (
    color: (
      primary: $truth-table-primary,
      accent: $truth-table-accent,
      warn: $truth-table-warn,
    ),
  )
);

@include mat.all-component-themes($truth-table-theme);

$my-custom-typography: mat.define-typography-config(
  $font-family: "PT Sans Narrow",
  $body-2:
    mat.define-typography-level(
      $font-weight: 700,
      $font-size: 1.75rem,
    ),
);

@include mat.core($my-custom-typography);

:root {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 8px;
  --color-primary: #221e1f;
  --color-accent: #c9a881;
  --color-complementary: #81a1c9;
}


body {
  margin: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
